{% extends "schedulerBase.html" %}

{% block title %}{{ instructor.name }} | {{ block.super }}{% endblock %}

{% block content %}
<h1>{{ instructor.name }}</h1>
{% if instructor.userid != '. Tbd' and instructor.userid != '. Sessional' and instructor.userid != '. Faculty' and " " not in instructor.userid %}<ul>
	<li>Email: <a href="mailto:{{ instructor.userid }}@sfu.ca">{{ instructor.userid }}@sfu.ca</a></li>
	<li>Webpage: <a href="http://www.sfu.ca/~{{ instructor.userid }}">sfu.ca/~{{ instructor.userid }}</a></li>
</ul>
{% endif %}
<h2>Teaching in Spring 2013:</h2>
<ul class="courses">
	{% for course in instructor.course.all %}
		<li class="{% if forloop.first %}firstCourse{% else %}course{% endif %}"><a href="{% url scheduler_course course.id %}">{{ course }}</a></li>
		<ul>
			<li>Campus: {{ course.campusChoice }}</li>
			<li>Section: {{ course.section }}</li>
			<li>Mode: {{ course.componentChoice }}</li>
			<li>Meeting Times:</li>
			<ul>
				{% for meetingTime in course.meetingtime_set.all|dictsort:'type' %}
					{% if meetingTime.type == "LEC" or meetingTime.type == "LAB" %}
						<li class="classOrLab time">{{ meetingTime.typeChoice }} : {{ meetingTime.dayChoice }} - {{ meetingTime.start_time }} to {{ meetingTime.end_time }} in {{ meetingTime.room }}</li>
					{% else %}
						<li class="exam time">{{ meetingTime.typeChoice }} : {{ meetingTime.start_day|date:"l F d" }} - {{ meetingTime.start_time }} to {{ meetingTime.end_time }}</li>
					{% endif %}
				{% empty %}
					<li>No meetings scheduled</li>
				{% endfor %}
			</ul>
		</ul>
	{% endfor %}
</ul
{% endblock %}
