<h1>View Your Schedule</h1>
<div id="scheduleViewList">
{% if optimalCourses %}
	<ol>
	{% for course in optimalCourses %}
		<li>{{ course }}</li>
		<ul>
		{% for instructor in optimalInstructors %}
			{% if instructor.course == course %}
				<li>Instructor: {{ instructor }}</li>
			{% endif %}
		{% endfor %}
			<li>Campus: {{ course.campusChoice }}</li>
			<li>Section : {{ course.section }}</li>
			{% if optimalLectureTimes %}
				<li>Lecture Times:</li>
				<ul>
					{% for meetingTime in optimalLectureTimes %}
						{% if meetingTime.room and meetingTime.course == course and meetingTime.type == "LEC" %}
							<li>{{ meetingTime.room }} : {{ meetingTime.dayChoice }} - {{ meetingTime.start_time }} to {{ meetingTime.end_time }}</li>
						{% endif %}
					{% endfor %}
				</ul>
			{% endif %}
			{% if optimalLabTimes %}
				<li>Lab Times:</li>
				<ul>
					{% for meetingTime in optimalLabTimes %}
						{% if meetingTime.course == course and meetingTime.type == "LAB" %}
							<li>{{ meetingTime.room }} : {{ meetingTime.dayChoice }} - {{ meetingTime.start_time }} to {{ meetingTime.end_time }}</li>
						{% endif %}
					{% endfor %}
				</ul>
			{% endif %}
			{% if optimalTestTimes %}
				<li>Exam Times:</li>
				<ul>
					{% for meetingTime in optimalTestTimes %}
						{% if meetingTime.course == course %}
							<li>{{ meetingTime.typeChoice }} : {{ meetingTime.start_day|date:"l F d" }} - {{ meetingTime.start_time }} to {{ meetingTime.end_time }}</li>
						{% endif %}
					{% endfor %}
				</ul>
			{% endif %}
		</ul>
	{% endfor %}
	</ol>
{% else %}
	<span class="error">Please specify a set of classes.</span>
{% endif %}
</div>
<h2>Your Typical Week</h2>
<div id="scheduleViewWeek">
{% block scheduleWeek %}{% endblock %}
</div>
<h2>Your Exam Schedule</h2>
<div id="scheduleViewExams">
{% block scheduleExams %}{% endblock %}
</div>
