{% extends "schedulerBase.html" %}

{% block extrajs %}
<script src="{{STATIC_PREFIX}}schedulerIndex.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block content %}
<div id="scheduleFormDiv">
	<h1>Build a Schedule</h1>

	<form id="addCourseForm" method="POST">
	{% csrf_token %}
			Add a course: 
			<select id="courseSubject" name="courseSubject" onchange="Dajaxice.scheduler.listOfNumbers(Dajax.process, {'option':this.value})">
				{% for op in subjects %}
				<option value="{{ op }}">{{ op }}</option>
				{% endfor %}
			</select>
			&nbsp;
			<select id="courseNumber" name="courseNumber">
				{% for op in initNums %}
				<option value="{{ op }}">{{ op }}</option>
				{% endfor %}
			</select>
			&nbsp;
			<input id="courseSubmit" type="button" value="Submit!" onclick="addCourseToSession()"/>
	</form>

	<form id="addCourseByProfForm" method="POST">
	{% csrf_token %}
		<div id="addByProf">
			Add a course by instructor:
			<select id="courseSubjectByProf" name="courseSubjectByProf" onchange="Dajaxice.scheduler.listOfProfs(Dajax.process, {'option':this.value})">
				{% for op in subjects %}
				<option value="{{ op }}">{{ op }}</option>
				{% endfor %}
			</select>
			&nbsp;
			<select id="subjectProfs" name="subjectProfs" onchange="Dajaxice.scheduler.listOfNumbersByProf(Dajax.process, {'option':this.value})">
				{% for i in initProfs %}
				<option value="{{ i.userid }}">{{ i.first_name }} {{ i.last_name }}</option>
				{% endfor %}
			</select>
			&nbsp;
			<select id="courseNumberByProf" name="courseNumberByProf">
				{% for i in initNumsByProf %}
				<option value="{{ i.number }}">{{ i.number }}</option>
				{% endfor %}
			</select>
			&nbsp;
			<input id="courseSubmitByProf" type="button" value="Submit!" onclick="addCourseByProfToSession()"/>
		</div>
	</form>

	<form id="addUnavailableForm" method="POST">
	{% csrf_token %}
		<div id="addUnavailableTime">
			Add a time you are unavailable:
			<select id="day" name="day">
				<option value="0">Monday</option>
				<option value="1">Tuesday</option>
				<option value="2">Wednesday</option>
				<option value="3">Thursday</option>
				<option value="4">Friday</option>
				<option value="5">Saturday</option>
			</select>
			at
			<select id="startHour" name="startHour" onchange="Dajaxice.scheduler.amORpmStart(Dajax.process, {'option':this.value})">
				<option value="8">8</option>
				<option value="9">9</option>
				<option value="10">10</option>
				<option value="11">11</option>
				<option value="12">12</option>
				<option value="13">1</option>
				<option value="14">2</option>
				<option value="15">3</option>
				<option value="16">4</option>
				<option value="17">5</option>
				<option value="18">6</option>
				<option value="19">7</option>
				<option value="20">8</option>
				<option value="21">9</option>
				<option value="22">10</option>
			</select>
			<span>:</span>
			<select id="startMinute" name="startMinute">
				<option value="0">00</option>
				<option value="10">10</option>
				<option value="20">20</option>
				<option value="30">30</option>
				<option value="40">40</option>
				<option value="50">50</option>
			</select>
			<span id="startT">am</span>
			to
			<select id="endHour" name="endHour" onchange="Dajaxice.scheduler.amORpmEnd(Dajax.process, {'option':this.value})">
				<option value="8">8</option>
				<option value="9">9</option>
				<option value="10">10</option>
				<option value="11">11</option>
				<option value="12">12</option>
				<option value="13">1</option>
				<option value="14">2</option>
				<option value="15">3</option>
				<option value="16">4</option>
				<option value="17">5</option>
				<option value="18">6</option>
				<option value="19">7</option>
				<option value="20">8</option>
				<option value="21">9</option>
				<option value="22">10</option>
			</select>
			<span>:</span>
			<select id="endMinute" name="endMinute">
				<option value="0">00</option>
				<option value="10">10</option>
				<option value="20">20</option>
				<option value="30">30</option>
				<option value="40">40</option>
				<option value="50">50</option>
			</select>
			<span id="endT">am</span>
			<input id="timeUnavailable" type="button" value="Submit!" onclick="addUnavailableToSession()"/>
		</div>
	</form>

	<form id="scheduleForm" method="POST">
	{% csrf_token %}
		<span>How many classes are you considering?
			<select id="numClasses" name="numClasses" onchange="Dajaxice.scheduler.updatingCourseForm(Dajax.process, {'option':this.value})" size="1">
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
				<option value="6">6</option>
				<option value="7">7</option>
				<option value="8">8</option>
				<option value="9">9</option>
				<option value="10">10</option>
			</select>
		</span>
		<div id="listClasses" onchange="">
		</div>
		<span id="numTakingSpan">
		</span>
		<br>
		<div id="unavailable">
		</div>
		<input id="scheduleSubmit" type="button" value="Generate Schedule" onclick="generateSchedule()"/>
	</form>
</div>
<div class="emptySchedule" id="scheduleViewDiv">
</div>
{% endblock %}
