{% extends "schedulerBase.html" %}

{% block extrajs %}
<script src="{{STATIC_PREFIX}}schedulerIndex.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block content %}
<div id="scheduleFormDiv">
	<h1>Build a Schedule</h1>
	<form id="scheduleForm" method="POST">
	{% csrf_token %}
		<div id="addCourse">
			Add a course: 
			<select id="courseSubject" name="courseSubject" onchange="Dajaxice.scheduler.listOfNumbers(Dajax.process, {'option':this.value})">
				{% for op in subjects %}
				<option value="{{ op }}">{{ op }}</option>
				{% endfor %}
			</select>
			&nbsp;
			<select id="courseNumber" name="courseNumber">
			</select>
			&nbsp;
			<input id="courseSubmit" type="submit" value="Submit!"/>
		</div>
		<div id="addByProf">
			Add a course by prof:
			<select id="courseSubjectByProf" name="courseSubjectByProf" onchange="Dajaxice.scheduler.listOfProfs(Dajax.process, {'option':this.value})">
		</div>

		<span>How many classes are you considering?
			<select id="numClasses" name="numClasses" onchange="Dajaxice.scheduler.updatingCourseForm(Dajax.process, {'option':this.value})" size="1">
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
				<option value="6">6</option>
				<option value="7">7</option>
				<option value="8">8</option>
				<option value="9">9</option>
				<option value="10">10</option>
			</select>
		</span>
		<div id="listClasses" onchange="">
		</div>
		<span id="numTakingSpan">
		</span>
		<br>
		<div id="unavailable">
		</div>
		<input id="scheduleSubmit" type="button" value="Generate Schedule" onclick="generateSchedule()"/>
	</form>
</div>
<div id="scheduleViewDiv">
</div>
{% endblock %}
