{% extends "schedulerBase.html" %}

{% block title %}Home | {{ block.super }}{% endblock %}

{% block extrajs %}
<script src="{{STATIC_PREFIX}}schedulerIndex.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block content %}
<div id="scheduleFormDiv">
	<h1>Build a Schedule</h1>

	<form id="addCourseForm" method="POST">
	{% csrf_token %}
			Add a course: 
			<select id="courseSubject" name="courseSubject" onchange="Dajaxice.scheduler.listOfNumbers(Dajax.process, {'option':this.value})">
				{% for op in subjects %}
				<option value="{{ op }}">{{ op }}</option>
				{% endfor %}
			</select>
			&nbsp;
			<select id="courseNumber" name="courseNumber">
				{% for op in initNums %}
				<option value="{{ op }}">{{ op }}</option>
				{% endfor %}
			</select>
			&nbsp;
			<input id="courseSubmit" type="button" value="Submit!" onclick="addCourseToSession()"/>
	</form>

	<form id="addCourseByProfForm" method="POST">
	{% csrf_token %}
		<div id="addByProf">
			Add a course by instructor:
			<select id="courseSubjectByProf" name="courseSubjectByProf" onchange="Dajaxice.scheduler.listOfProfs(Dajax.process, {'option':this.value})">
				{% for op in subjects %}
				<option value="{{ op }}">{{ op }}</option>
				{% endfor %}
			</select>
			&nbsp;
			<select id="subjectProfs" name="subjectProfs" onchange="Dajaxice.scheduler.listOfNumbersByProf(Dajax.process, {'option':this.value, 'subj':$('#courseSubjectByProf option:selected').text()})">
				{% for i in initProfs %}
				<option value="{{ i.userid }}">{{ i.first_name }} {{ i.last_name }}</option>
				{% endfor %}
			</select>
			&nbsp;
			<select id="courseNumberByProf" name="courseNumberByProf">
				{% for i in initNumsByProf %}
				<option value="{{ i.number }}">{{ i.number }}</option>
				{% endfor %}
			</select>
			&nbsp;
			<input id="courseSubmitByProf" type="button" value="Submit!" onclick="addCourseByProfToSession()"/>
		</div>
	</form>

	<form id="addUnavailableForm" method="POST">
	{% csrf_token %}
		<div id="addUnavailableTime">
			Add a time you are unavailable:
			<select id="day" name="day">
				<option value="0">Monday</option>
				<option value="1">Tuesday</option>
				<option value="2">Wednesday</option>
				<option value="3">Thursday</option>
				<option value="4">Friday</option>
				<option value="5">Saturday</option>
			</select>
			at
			<select id="startHour" name="startHour" onchange="Dajaxice.scheduler.amORpmStart(Dajax.process, {'option':this.value})">
				<option value="8">8</option>
				<option value="9">9</option>
				<option value="10">10</option>
				<option value="11">11</option>
				<option value="12">12</option>
				<option value="13">1</option>
				<option value="14">2</option>
				<option value="15">3</option>
				<option value="16">4</option>
				<option value="17">5</option>
				<option value="18">6</option>
				<option value="19">7</option>
				<option value="20">8</option>
				<option value="21">9</option>
				<option value="22">10</option>
			</select>
			<span>:</span>
			<select id="startMinute" name="startMinute">
				<option value="00">00</option>
				<option value="10">10</option>
				<option value="20">20</option>
				<option value="30">30</option>
				<option value="40">40</option>
				<option value="50">50</option>
			</select>
			<span id="startT">a.m.</span>
			to
			<select id="endHour" name="endHour" onchange="Dajaxice.scheduler.amORpmEnd(Dajax.process, {'option':this.value})">
				<option value="8">8</option>
				<option value="9">9</option>
				<option value="10">10</option>
				<option value="11">11</option>
				<option value="12">12</option>
				<option value="13">1</option>
				<option value="14">2</option>
				<option value="15">3</option>
				<option value="16">4</option>
				<option value="17">5</option>
				<option value="18">6</option>
				<option value="19">7</option>
				<option value="20">8</option>
				<option value="21">9</option>
				<option value="22">10</option>
			</select>
			<span>:</span>
			<select id="endMinute" name="endMinute">
				<option value="00">00</option>
				<option value="10">10</option>
				<option value="20">20</option>
				<option value="30">30</option>
				<option value="40">40</option>
				<option value="50">50</option>
			</select>
			<span id="endT">a.m.</span>
			<input id="timeUnavailable" type="button" value="Submit!" onclick="addUnavailableToSession()"/>
		</div>
	</form>

	<form id="scheduleForm" method="POST">
	{% csrf_token %}
		<div>
			Of the selected classes, how many are you considering?
			<select id="numClasses" name="numClasses" size="1">
			</select>
		</div>
		<input id="scheduleSubmit" type="button" value="Generate Schedule" onclick="generateSchedule()"/>
	</form>
</div>
<div id="mainCartDiv">
<h1>Your Schedule Selections</h1>
	<div id="coursesCart">
		<h3>Added Courses:</h3>
		<ul id="addCourseList">
			{% if byCourse %}
				{% for i in byCourse %}
					<li>{{ i.0 }} {{ i.1 }} <a onclick="deleteCourseFromSession('{{ i.0 }}', '{{ i.1 }}')">remove</a></li>
				{% endfor %}
			{% else %}
				<span>There are no courses specified by subject and number.</span>
			{% endif %}
		</ul>
		<ul id="addCourseByProfList">
			{% if byProf %}
				{% for i in byProf %}
					<li>{{ i.0 }} {{ i.2 }} taught by: {{ i.1 }} <a onclick="deleteCourseByProfFromSession('{{ i.0 }}', '{{ i.1 }}', '{{ i.2 }}')">remove</a></li>
				{% endfor %}
			{% else %}
				<span>There are no courses specified with respect to instructor.</span>
			{% endif %}
		</ul>
	</div>
	<div id="unavailableTimesCart">
		<h3>Times You Are Unavailable:</h3>
		<ul id="addTimeList">
			{% if timesUnavailable %}
				{% for i,j,k,l in timesUnavailable %}
					<li>{{ l }} from {{ j }} to {{ k }} <a onclick="Dajaxice.scheduler.deleteUnavailableFromSession(Dajax.process, { 'day':'{{ i }}', 'startMinute':'{{ j.minute }}', 'startHour':'{{ j.hour }}', 'endMinute':'{{ k.minute }}', 'endHour':'{{ k.hour }}' })">remove</a></li>
				{% endfor %}
			{% else %}
				<span>There are no times specified.</span>
			{% endif %}
		</ul>
	</div>
</div>
{% if processedHTML %}
<div class="fullSchedule" id="scheduleViewDiv">
	{{ processedHTML|safe }}
{% else %}
<div class="emptySchedule" id="scheduleViewDiv">
	<h1>Your Optimal Schedule</h1>
	<ul>
		<span>You have not yet generated a schedule.</span>
	</ul>
{% endif %}
</div>
{% endblock %}
