{% extends "schedulerBase.html" %}

{% block content %}
<div id="schedulerClasses">
	<h1>Classes By Subject - {{ subject }}</h1>
	{% regroup courses by level as levelList %}
	<ul class="courses">
	{% for level in levelList %}
		<li class="level" id="{{ level.grouper }}00">{{ level.grouper }}00 Level
			<ul class="courses">
			{% for course in courses %}
					<li class="course"><a href="{% url scheduler_coursesSubjectNumber course.subject course.number %}">{{ course.subject }} {{ course.number }} : {{ course.title }}</a></li>
			{% endfor %}
			</ul>
		</li>
	{% endfor %}
	</ul>
</div>
{% endblock %}
