{% load static %}{% get_static_prefix as STATIC_PREFIX %}
<link rel="stylesheet" type="text/css" href="{{STATIC_PREFIX}}schedulerSchedule.css" />
<script src="{{STATIC_PREFIX}}schedulerSchedule.js" type="text/javascript" charset="utf-8"></script>
<h1>Your Optimal Schedule</h1>
<div id="scheduleViewList">
	<ul id="scheduleCoursesList">
		{% if rejectedCourses %}
			<li class="rejected toggleExpand"><h3>Rejected Courses</h3></li>
			<ul class="rejected courses">
			{% for course in rejectedCourses %}
				<li><a href="{% url scheduler_course course.id %}">{{ course }} - {{ course.section }}</a> was Rejected</li>
				<ul class="rejected course">
				{% for instructor in course.instructor_set.all|dictsort:'last_name' %}
					<li>Instructor: {% if instructor.userid != '. Tbd' and instructor.userid != '. Sessional' and instructor.userid != '. Faculty' and " " not in instructor.userid %} <a href="{% url scheduler_instructor instructor.pk %}">{{ instructor.name }}</a> {% else %} {{ instructor.userid }} {% endif %}</li>
				{% endfor %}
					<li>Campus: {{ course.campusChoice }}</li>
					<li>Meeting Times:</li>
						<ul class="rejected times">
						{% for meetingTime in rejectedMeetingTimes|dictsort:'type' %}
							{% if meetingTime.course == course %}
								{% if meetingTime.type == "LEC" or meetingTime.type == "LAB" %}
									<li class="classOrLab time">{{ meetingTime.typeChoice }} : {{ meetingTime.dayChoice }} - {{ meetingTime.start_time }} to {{ meetingTime.end_time }} in {{ meetingTime.room }}</li>
								{% else %}
									<li class="exam time">{{ meetingTime.typeChoice }} : {{ meetingTime.start_day|date:"l F d" }} - {{ meetingTime.start_time }} to {{ meetingTime.end_time }}</li>
								{% endif %}
							{% endif %}
						{% empty %}
							<li>No meetings scheduled.</li>
						{% endfor %}
						</ul>
				</ul>
			{% endfor %}
			</ul>
		{% endif %}
		{% if optimalCourses %}
			<li class="optimal toggleCollapse"><h3>Optimal Courses</h3></li>
			<ul class="optimal courses">
			{% for course in optimalCourses %}
				<li><a href="{% url scheduler_course course.id %}">{{ course }} - {{ course.section }}</a></li>
				<ul class="optimal course">
				{% for instructor in course.instructor_set.all|dictsort:'last_name' %}
					<li>Instructor: {% if instructor.userid != '. Tbd' and instructor.userid != '. Sessional' and instructor.userid != '. Faculty' and " " not in instructor.userid %} <a href="{% url scheduler_instructor instructor.pk %}">{{ instructor.name }}</a> {% else %} {{ instructor.userid }} {% endif %}</li>
				{% endfor %}
					<li>Campus: {{ course.campusChoice }}</li>
					<li>Meeting Times:</li>
						<ul class="optimal times">
						{% for meetingTime in optimalMeetingTimes|dictsort:'type' %}
							{% if meetingTime.course == course %}
								{% if meetingTime.type == "LEC" or meetingTime.type == "LAB" %}
									<li class="classOrLab time">{{ meetingTime.typeChoice }} : {{ meetingTime.dayChoice }} - {{ meetingTime.start_time }} to {{ meetingTime.end_time }} in {{ meetingTime.room }}</li>
								{% else %}
									<li class="exam time">{{ meetingTime.typeChoice }} : {{ meetingTime.start_day|date:"l F d" }} - {{ meetingTime.start_time }} to {{ meetingTime.end_time }}</li>
								{% endif %}
							{% endif %}
						{% empty %}
							<li>No meetings scheduled.</li>
						{% endfor %}
						</ul>
				</ul>
			{% endfor %}
			</ul>
		{% else %}
			{% if rejectedCourses %}<span class="error">All of the courses specified conflicted.</span>{% endif %}<span class="error">Please specify a set of classes.</span>
		{% endif %}
	</ul>
</div>
<h2>Your Exam Schedule</h2>
<div id="scheduleViewExams">
	<ol class="optimal exams">
	{% for meetingTime in optimalExamTimes %}
		<li class="exam">{{ meetingTime.course.subject}} {{ meetingTime.course.number}} {{ meetingTime.typeChoice }} : {{ meetingTime.start_day|date:"l F d" }} - {{ meetingTime.start_time }} to {{ meetingTime.end_time }}</li>
	{% empty %}
		<p><span class="noexam">No Exams Scheduled!</span></p>
	{% endfor %}
	</ol>
</div>
<h2>Your Typical Week</h2>
<div id="scheduleViewWeek">
	<table id="scheduleTable">
		<colgroup span="1" id="scheduleTableTimes"></colgroup>
		<colgroup span="6" id="scheduleTableDays"></colgroup>
		<thead id="scheduleTableHead">
			<tr id="scheduleRowDays">
				<th class="scheduleTableCell">&nbsp;</th>
				<th class="scheduleTableCell">Monday</th>
				<th class="scheduleTableCell">Tuesday</th>
				<th class="scheduleTableCell">Wednesday</th>
				<th class="scheduleTableCell">Thursday</th>
				<th class="scheduleTableCell">Friday</th>
				<th class="scheduleTableCell">Saturday</th>
			</tr>
		</thead>
		<tbody id="scheduleTableBody">
			{{ scheduledHTML|safe }}
		</tbody>
		<tfoot id="scheduleTableFoot">
			<tr id="scheduleRowNote">
				<th>NOTE:</th>
				<td colspan="7">There are no classes scheduled on Sundays</td>
			</tr>
		</tfoot>
	</table>
</div>
