{% extends "aboutBase.html" %}

{% block content %}
<h1>Legal Disclaimer</h1>
<p>This project is in no way officially related to Simon Fraser University.</p>
<p>The <a href="{% url about_team %}">developers</a> of this application take no responsibility for the course selections of students. This tool is merely a proof of concept. The information this tool uses may not be up-to-date, and does not reflect the latest in class cancellations, instructor changes, exam rescheduling, etc. USE AT YOUR OWN RISK.</p>
{% endblock %}
