{% extends "aboutBase.html" %}

{% block content %}
<h1>Team Awesome</h1>
<p>There isn't much here. We're just three guys that thought we were awesome.</p>
<p><strong>Note:</strong>We are in no way shape or form affiliated with "<a href="http://cmpt470.csil.sfu.ca:8015/">Team Awesome-O</a>". To our own credit, we came up with our name first.</p>
<h2>Randy Tarampi</h2>
<p>Randy's a very boring person. He likes to sit on his couch, eat and sleep - preferrably in that order. Want to know more about him? Feel free to contact, harass, or stalk him on <a href="http://twitter.com/unknown604">Twitter</a>, <a href="https://github.com/randytarampi">GitHub</a>, or <a href="http://ca.linkedin.com/in/rtarampi">LinkedIn</a>.</p>
<h2>Steven Evans</h2>
<p>Steven's just as boring as Randy, though he doesn't have as much to show for it as Randy does - just look at how empty his <a href="https://github.com/FaceBones">GitHub</a> page is.</p>
<h2>Conrad Locke</h2>
<p>Conrad is mysterious. He prefers to sit and think - which makes sense since he was the mastermind behind the optimal scheduling. Check him out on <a href="https://github.com/clocke"></a>.</p>
{% endblock %}
