{% extends "base.html" %}

{% block content %}
<h1>About This "App"</h1>

<p>If you're looking at the source code for this page on
  our <a href="https://github.com/randytarampi/awesomeProject">GitHub
  Repo</a> then you might have noticed
  that <a href="https://github.com/randytarampi/awesomeProject/blob/master/about/templates/about.html">this
  page</a> (more like template for this page) exists in a different
  templates directory - the
  one <a href="https://github.com/randytarampi/awesomeProject/blob/master/about/templates">inside</a>
  the "about" app, not the one in the project's
  root <a href="https://github.com/randytarampi/awesomeProject/tree/master/templates">
  directory</a>. This is because of portability reasons. Just in case
  you want to recycle a particular Django app, i.e. port it to another
  app, but want to keep the view (template) the same, you can. You can
  even control the granularity like we did, making this page rely on
  our project's
  "<a href="https://github.com/randytarampi/Project/blob/master/templates/base.html"><code>base.html</code></a>".</p>

<p>Cool stuff eh?</p>

{% endblock %}
