{% load static %}{% get_static_prefix as STATIC_PREFIX %}{% load dajaxice_templatetags %}{% spaceless %}
<!DOCTYPE html>
<html>
<head>
{% block head %}
	<link rel="stylesheet" type="text/css" href="{{STATIC_PREFIX}}reset.css" />
	<link rel="stylesheet" type="text/css" href="{{STATIC_PREFIX}}style.css" />
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>{% block title %}Optimal Class Scheduling{% endblock %}</title>
	<script src="{{STATIC_PREFIX}}jquery-1.7.2.min.js"
	type="text/javascript" charset="utf-8"></script>
	<script src="{{STATIC_PREFIX}}jquery.ba-serializeobject.min.js"
	type="text/javascript" charset="utf-8"></script>
	<script src="{{STATIC_PREFIX}}dajax/jquery.dajax.core.js"
	type="text/javascript" charset="utf-8"></script>
	{% dajaxice_js_import %}
	{% block extracss %}{% endblock %}
	{% block extrajs %}{% endblock %}
	{% block headExt %}{% endblock %}
{% endblock %}
</head>

<body>
{% block body %}

<header>
	{% block header %}<a href="http://www.sfu.ca"><img src="{{STATIC_PREFIX}}logo_main.gif"/></a>{% endblock %}
</header>

<div id="disclaimer">
{% block disclaimer %}
	<div id="centerDisclaimer">
		{% block centerDisclaimer %}
		<span>Interested in what you see here? Want to know how you can
		help? Check out the project
		on <a href="https://github.com/randytarampi/awesomeProject">GitHub</a>!</span>
		{% endblock%}
	</div>
{% endblock %}
</div>

<div id="container">		
{% block container %}
	<div id="navigation">
	{% block navigation %}
		<ul class="side">
			<li><a href="{% url index %}">Home</a></li>
			<li><a href="{% url scheduler_index %}">Scheduler</a></li>
			<li><a href="{% url about_index %}">About</a></li>
			{% block extranav %}{% endblock %}
			<li class="break"></li>
			<li><a href="http://students.sfu.ca/">Student
			Services</a></li>
			<li><a href="http://students.sfu.ca/deadlines.html">Student Deadlines</a></li>
			<li class="break"></li>
			<li><a href="http://www.sfu.ca/ugcr/for_students/wqb_requirements.html">WQB Requirements</a></li>
			<li><a href="http://www.sfu.ca/ugcr/for_faculty/certified_wqb_courses/certified_writing_courses.html">Writing
			(W) Courses</a></li>
			<li><a href="http://www.sfu.ca/ugcr/for_faculty/certified_wqb_courses/certified_quantitative_courses.html">Quantitative
			(Q) Courses</a></li>
			<li><a href="http://www.sfu.ca/ugcr/for_faculty/certified_wqb_courses/certified_designated_breadth_courses.html">Breadth
			(B) Courses</a></li>
		</ul>
	{% endblock %}
	</div>
	
	<div id="sidebar">
		{% block sidebar %}
		<ul class="side">
			<li>Loaded at: {% now "g:i a" %}</li>
			{% block extraside %}{% endblock %}
			<li>{% now "F jS, Y" %}</li>
			<li class="break"></li>
			<li><a href="https://go.sfu.ca/" target="_blank">Student Information System</a></li>
		</ul>
		{% endblock %}
	</div>

	<div id="content">
		{% block content %}	{% endblock %}
	</div>
{% endblock %}
</div>

<footer>
{% block footer %}
	<span id="footerCenter">
     	By <a href="https://github.com/randytarampi">Randy Tarampi</a>,
		<a href="https://github.com/FaceBones">Steven Evans</a> &
		<a href="https://github.com/clocke">Conrad Locke</a> |
		As pulled
		from <a href="https://github.com/randytarampi/awesomeProject">GitHub</a>
		| © Team Awesome & <a href="http://www.sfu.ca">Simon Fraser University</a>
    </span>
{% endblock %}
</footer>

{% endblock %}
</body>
</html>
{% endspaceless %}
