<!DOCTYPE html>
<html>
<head>
 <!-- <link rel="stylesheet" type="text/css" href="/static/style.css" />-->
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
  <title>{% block title %}{% endblock %}</title>
</head>

<body>

<header>
  {% block header %}
  {% endblock %}
</header>

<div id="container">
  
  <div id="navigation">
    {% block navigation %}
    {% endblock %}
  </div>

  <div id="sidebar">
    {% block sidebar %}
    {% endblock %}
  </div>
  
  <div id="content">
    {% block content %}
    {% endblock %}
  </div>

</div>

<footer>
  {% block footer %}
  {% endblock %}
</footer>

</body>
</html>
