table { 
	border-spacing: 0;
	border-collapse: collapse;
	border-width: 1px;
	border-color: #A6192E;
	border-style: solid;
}

tr {
	border-width: 1px;
	border-color: #A6192E;
}

tr.topHour {
	border-top-style: solid;
	border-bottom-style: dotted;
}

tr.bottomHour {
	border-top-style: dotted;
	border-bottom-style: solid;
}

td, th {
	padding: 2px;
	border-width: 1px;
	border-color: #A6192E;
	border-right-style: solid;
	border-left-style: solid;
}

td.class {
	color: #FFF;
	background-color: #A6192E;
	text-align: center;
	border-color: #A07400;
	border-style: solid;
}

tfoot {
	font-weight: bold;
}

li.toggleCollapse {
	list-style-image: url('collapse.gif');
}

li.toggleExpand {
	list-style-image: url('expand.gif');
}

#scheduleWeekAndExams {
	padding-left: 20px;
}
