html {
	height: 100%;
	width: 100%;
	background-color: #A7A8A0;
	color: #333;
	font: 12px/16px Helvetica, Arial, Verdana, sans-serif;
}

body {
	margin: 0 auto;
	border-top: 5px solid #0054A6;
	padding: 0;
	max-width: 980px;
	line-height: 1.3em;
}

header {
	height: 70px;
	border-left: 25px solid #A43E31;
	background-color: #6D6D64;
}

footer {
	clear: both;
	color: white;
	background-color: #B6B7B1;
	text-align: center;
	font-size: 10px;
}

footer a {
	color: white;
}

h1 {
	margin: 12px;
	color: #B5111B;
	font: bold 18px/21px "Lucida Grande", Lucida, Arial, Verdana, sans-serif;
}

h2 {
	margin: 12px;
	color: #777;
	font: bold 16px/19px "Lucida Grande", Lucida, Arial, Verdana, sans-serif;
}

h3 {
	margin: 10px;
	color: #555;
	font: bold 14px/17px "Lucida Grande", Lucida, Arial, Verdana, sans-serif;
}

a {
	color: #0054A6;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

p {
	margin: 8px;
}

ul.rejectedCourse {
	display: none;
}

ul.side {
	padding: 4px 8px 4px 8px;
	list-style-type: none;
}

li.break {
	display: block;
	margin: 4px 12px;
	border-top: 1px dotted #777;
}

.fullSchedule {
	height: 100%;
	width: 100%;
}

.emptySchedule {
	height: 300px;
	width: 100%;
}

.exam {
    color: red;
    font-weight: bold;
}

.noexam {
    color: red;
    font-weight: bold;
}

.side a:hover {
	color: #B5111B;
	text-decoration: none;	
}

#container {
	min-height: 600px;
	border-left: 25px solid #E3E4E1;
	background-color: #C7C8C3;
}

#disclaimer {
	position: relative;
	height: 40px;
	border-left: 25px solid #CB5A60;
	background-color: #B5111B;
	color: white;
}

#disclaimer a {
    color: #0a7ed7;
}

#centerDisclaimer { 
	position: relative;
	top: 33%;
	text-align: center;
}

#navigation {
	float: left;
	padding: 6px 0 30px 0;
	width: 170px;
	overflow: hidden;
}

#navigation .side li {
	padding: 4px 8px 4px 20px;
}

#navigation li.break {
	padding: 0;
}

#sidebar {
	float: right;
	padding: 6px 0 30px 0;
	width: 170px;
	text-align: right;
	overflow: hidden;
}

#sidebar .side li {
	padding: 4px 20px 4px 8px;
}

#sidebar li.break {
	padding: 0;
}

#content {
	min-height: 600px;
	padding: 12px;
	background-color: white;
	overflow: hidden;
}

#footerCenter {
	text-align: center;
}
