html {
	height: 100%;
	width: 100%;
	background-color: #A7A8A0;
	color: #333;
	font: 12px/16px Helvetica, Arial, Verdana, sans-serif;
}

body {
	margin: 0 auto;
	border-top: 5px solid #0054A6;
	padding: 0;
	max-width: 980px;
	line-height: 1.3em;
}

header {
	height: 70px;
	border-left: 25px solid #A43E31;
	background-color: #6D6D64;
}

footer {
	clear: both;
	color: white;
	background-color: #B6B7B1;
	text-align: center;
	font-size: 10px;
}

footer a {
	color: white;
}

h1 {
	margin: 12px;
	color: #B5111B;
	font: bold 18px/21px "Lucida Grande", Lucida, Arial, Verdana, sans-serif;
}

h2 {
	margin: 12px;
	color: #777;
	font: bold 16px/19px "Lucida Grande", Lucida, Arial, Verdana, sans-serif;
}

h3 {
	margin: 10px;
	color: #555;
	font: bold 14px/17px "Lucida Grande", Lucida, Arial, Verdana, sans-serif;
}

a {
	color: #0054A6;
	text-decoration: none;
}

a.cart {
	font-weight: bold;
}

a:hover {
	text-decoration: underline;
}

p {
	margin: 8px;
}

ul.instructorsNav {
	padding: 0;
	text-align: center;
}

li.instructorsNav {
	display: inline;
}

ul.subjectsNav {
	padding: 0;
	text-align: justify;
}

li.subjectsNav {
	display: inline;
}

ul.levelsNav {
	padding: 0;
	text-align: center;
}

li.levelsNav {
	display: inline;
}

li.course {
	padding-top: 10px;
}

li.subject {
	padding-top: 10px;
}

li.instructor {
	padding-top: 10px;
}

.breadcrumb {
	color: white;
}

.conflict {
	color: red;
	font-weight: bold;
	text-align: center;
}

.wasRejected {
	color: red;
	font-weight: bold;
}

.proposed {
	font-weight: bold;
}

.fullSchedule {
	height: 100%;
	width: 100%;
}

.emptySchedule {
	height: 300px;
	width: 100%;
}

.exam {
    color: red;
    font-weight: bold;
}

.noexam {
    color: red;
    font-weight: bold;
}

.side a:hover {
	color: #B5111B;
	text-decoration: none;	
}

.topHour {
	border-top-style: solid;
	border-bottom-style: dotted;
}

.bottomHour {
	background-color: #E3E4E1;
	border-top-style: dotted;
	border-bottom-style: solid;
}

.scheduleTableCell {
	max-width: 100px;
	padding: 2px;
	border-width: 1px;
	border-color: #A6192E;
	border-right-style: solid;
	border-left-style: solid;
}

.scheduleTableClass {
	color: #FFF;
	background-color: #A6192E;
	text-align: center;
	border-width: 1px;
	border-color: #A07400;
	border-top-style: solid;
	border-bottom-style: solid;
}

.scheduleTableProposedClass {
	color: #FFF;
	background-color: #003087;
	text-align: center;
	border-width: 1px;
	border-color: #A07400;
	border-top-style: solid;
	border-bottom-style: solid;
}

.scheduleTableTime {
	background-color: #EEE;
}

.classDescription {
	word-wrap: break-word;
}

li.toggleCollapse {
	list-style-image: url('expand.gif');
}

li.toggleExpand {
	list-style-image: url('collapse.gif');
}

ul.rejected.courses{
    display: none
}

ul.rejectedCourse {
	display: none;
}

ul.side {
	padding: 4px 8px 4px 8px;
	list-style-type: none;
}

ul.cart {
	padding: 0px;
	list-style-type: none;
}

li.break {
	display: block;
	margin: 4px 12px;
	border-top: 1px dotted #777;
}

#container {
	min-height: 600px;
	border-left: 25px solid #E3E4E1;
	background-color: #C7C8C3;
}

#disclaimer {
	position: relative;
	height: 40px;
	border-left: 25px solid #CB5A60;
	background-color: #B5111B;
	color: white;
}

#disclaimer a {
    color: #0a7ed7;
}

#centerDisclaimer { 
	position: relative;
	top: 33%;
	text-align: center;
}

#navigation {
	float: left;
	padding: 6px 0 30px 0;
	width: 170px;
	overflow: hidden;
}

#navigation .side li {
	padding: 4px 8px 4px 20px;
}

#navigation li.break {
	padding: 0;
}

#sidebar {
	float: right;
	padding: 6px 0 30px 0;
	width: 170px;
	text-align: right;
	overflow: hidden;
	clear: right;
}

#sidebar .side li {
	padding: 4px 20px 4px 8px;
}

#sidebar li.break {
	padding: 0;
}

#breadcrumbs {
	padding: 5px 7px;
	background-color: #6D6D64;
}

#centre {
	overflow: hidden;
}

#content {
	min-height: 600px;
	width: 590px;
	float: left;
	padding: 6px 12px 12px 12px;
	background-color: white;
	overflow: hidden;
}

#footerCenter {
	text-align: center;
}

#scheduleTable { 
	width: 100%;
	max-width: 591px;
	border-spacing: 0;
	border-collapse: collapse;
	border-width: 1px;
	border-color: #A6192E;
	border-style: solid;
}

#scheduleTableHead {
	background-color: #EEE;
}

#scheduleTableTimes {
	width: 10%;
	align: center;
	valign: center;
}

#scheduleTableDays {
	width: 15%;
	align: center;
	valign: center;
}

#scheduleTableBody tr {
	border-width: 1px;
	border-color: #A6192E;
}

#scheduleTableFoot {
	font-weight: bold;
}

#scheduleRowNote {
	align: center;
	valign: center;
}

#scheduleRowLegend {
	align: center;
	valign: center;
}
